/*Container and panel content*/
.container-header, .container-body{
    display: flex;
    align-content: center;
    margin-top: 0; margin-bottom: 0;
    padding-top: 0; padding-bottom: 0
}

.vcenter {
    height: 1.5em;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

.left {
    color: white;
    text-align: center;
    font-weight: lighter;
    font-size: -webkit-xxx-large;
    text-shadow: 0 0.1em 0.15em rgba(0, 0, 0, 0.4);
    border: none;
}
.right {
    background-color: white;
    color: var(--darkmint);
    font-weight: lighter;
    text-align: right;
    margin: 1em 1em 0 0;
}
.middle, .middle-under, .middle-under-info-page {
    background-color: white;
    color: var(--choco);
    font-size: large;
    font-weight: normal;
    margin: 1em 1em 0 1em;
    line-height: 1em;
    height: 3em;
    min-width: 80vh;
}
.middle-under, .middle-under-info-page{
    margin: 0 0.5em 0 1em;
    min-height: calc(100vh - 6em);
}
.middle-under-info-page{
    margin: 0 0.5em 0 310px;
}
/*Display section*/
.display{
    background-color: #f7fafc;
    color: var(--choco);
    font-size: small;
    border-radius: 0 0 1em 1em;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}
.tabs{
    display: flex;
}
.button-tab{
    flex: 1;
    line-height: 1;
    background-color: #efefef;
    color: var(--choco);
    border: none;
    margin: 1em 0 0 0;
    overflow: hidden;
}
.button-tab:hover {
    background-color: var(--mint);
    color: var(--choco);
}
.button-tab:focus, .tab-active, .button-active {
    color: #EDF2F4;
    background-color: var(--choco);
}
.button-active{
    background-color: var(--deeppink);
}

.display-content{
    margin: 0;
    padding: 0;
    display: block;
    overflow: scroll;
    text-overflow: ellipsis;
    position: relative;
    height: 100%;
}
.non-display{
    display: none !important;
}
.display-part{
    flex-grow: 1;
    flex-basis: 50%;
    overflow: auto;
    padding-bottom: 0.5em;
}
/*Other*/
/*a:link, a:visited{*/
/*}*/
/*a:hover{*/
/*}*/
.href_to_section, .href_to_section:visited{
    text-decoration: none;
    color: var(--darkintensemint);
    font-size: small;
}
.href_to_section:hover{
    color: var(--choco);
    font-weight: bold;
    cursor: default;
}
.popup{
    z-index: 1000 !important;
    text-align: center;
    padding: 1em
}
.center-pop{
    z-index: 11;
    position: fixed;
    margin: 200px 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.popup_content, .popup_content_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: normal;
    width: -webkit-fit-content;
    padding: 1em;
}

.popup_content_row{
    overflow: auto;
    flex-direction: row;
    justify-content: space-evenly;
    width: -webkit-fill-available;
}

.disabled{
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    background: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
}

/*Info page style*/
.help-panel, .help-panel-sub{
    line-height: 2.5em;
    text-align: center;
    letter-spacing: 0.05em;
    width: 100%;
    position: relative;
}
.help-panel{
    text-transform: uppercase;
    font-weight: bold;
}
.help-panel:hover, .help-panel-sub:hover{
    color: var(--choco);
    background: var(--intensemint75);
    font-weight: bolder;
    letter-spacing: 0.1em;
}
.help-panel-sub{
    display: none;
}
.help-panel-sub:hover{
    background: var(--intensemint30);
}
.help-panel-highlight{
    background: var(--intensemint75);
}
.help-section-title{
    background: var(--intensemint50);
    width: 100%;
    font-size: small;
    line-height: 1.5em;
    text-transform: uppercase;
}
.help-section-body{
    padding: 0 2em;
}

.level-1-heading, .level-2-heading, .level-3-heading{
    font-weight: bold;
    line-height: 2em;
}
.level-1-heading{
    font-size: larger;
    text-transform: uppercase;
    color: var(--darkintensemint);
}
.level-3-heading{
    line-height: 1em;
    font-style: italic;
}
.table-2{
    margin: 1em auto;
    border-radius: 0.5em;
    border-collapse: collapse;
    width: fit-content;
    table-layout: auto;
    box-shadow: var(--shadow);
    font-size: medium;
}
table.table-2#Table-Cufflinks, table.table-2#Table-GTF{
    font-size: smaller;
}
table.table-2[name="TableExampleRunSetting"]{
    line-height: 0;
    min-width: 250px;
}
table.table-2 td{
    background: white;
}
table.table-2 td:first-child, table.table-2 th:first-child,
table.table-2 td:first-child, table.table-2 th:first-child,
table.table-2 td:nth-child(2), table.table-2 th:nth-child(2),
table.table-2 td:last-child, table.table-2 th:last-child{
    width: fit-content;
    padding: 0.5em 1em;
}
