/*TODO set focus for elements*/
:root{
    --mint: #b4e8c6;
    --darkmint: #729F82;
    --choco: #433C39;
    --lightmintgrey: #EDF2F4;
    --intensemint: #68d3aa;
    --darkintensemint: #1f9b71;
    --ultradarkmint: #003924;
    --shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    --textshadow: 1px 1px 4px var(--darkintensemint);
    --warning: #ff003b;
    --nodecolor: #2a036b;
    --edgecolor: #a4268f;
}
:root.default{
    --nodecolor: #433C39;
    --edgecolor: #1f9b71;
}
:root.theme1{
    --nodecolor: #053346;
    --edgecolor: #eca802;
}
:root.theme2{
    --nodecolor: #2a036b;
    --edgecolor: #a4268f;
}
:root.theme3{
    --nodecolor: #e86202;
    --edgecolor: #913503;
}
:root.theme4{
    --nodecolor: #004e9b;
    --edgecolor: #008556;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Light', sans-serif;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    padding: 0.5em;
    margin: 0;
    line-height: 1;
    font-size: small;
    color: var(--choco);
}
blockquote, q {
    quotes: none;
}

/*Styling table*/
table{
    width: 100%;
    table-layout: fixed;
    border-radius: 1em;
    overflow: hidden;
    border-collapse: collapse;
    position: relative;
    box-shadow: var(--shadow);
}
thead{
    height: 2em;
    text-align: center;
}
tr{
    height: 1.5em;
}
table th, table td{
    overflow-wrap: break-word;
    white-space: break-spaces;
}
table td:first-child, table th:first-child{
    padding-left: 1em;
}
table td:first-child, table th:first-child, table td:nth-child(2), table th:nth-child(2) {
    width: 20%;
}
table td:last-child, table th:last-child{
    padding-right: 1em;
}
td, th{
    font-size: smaller;
    vertical-align: middle;
    padding: 0 0.5em;
}
td{
    font-weight: bold;
    text-align: center;
    background: var(--mint);
}
/*td+td { !*Make first column 150px, divide width equally to the rest*!*/
/*    width: auto;*/
/*}*/
th{
    background: white;
}

/*Header and footer*/
h1, h2 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
h3, h4 {
    font-weight: bold;
}

footer{
    margin-top: -1em;
    text-align: center;
    font-size: smaller;
}

/*Generic button*/
.button{
    font-weight: bold;
    display: inline-block;
    padding: 0.3em 1.5em;
    margin: 0 0.1em 0.1em 0;
    border: var(--choco);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    text-align:center;
    transition: all ease-in-out 0.2s;
}

.upload{
    color: var(--choco);
    border: 0.16em solid white;
    background: white;
}
.upload:hover{
    border-color: var(--mint);
}

.download{
    margin: 0;
    padding: 0;
    color: var(--choco);
    border: white 2px solid;
    min-width: 80%;
    height: 2.5em;
    width: fit-content;
    overflow: hidden;
    background-size: 400% 100% !important;
    background: linear-gradient(to left, white 25%, white 25%, var(--mint) 50%) right;
    position: relative;
    transition: all ease-in-out 0.5s;
 }

.download:hover{
    color: var(--ultradarkmint);
    border: solid 2px var(--mint);
    font-size: small;
    transition: all ease-in-out 0.2s;
}

.submit{
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: var(--choco);
    color: var(--mint);
    width: 280px;
    height: 2.5em;
    border-radius:1em;
}
.submit:hover{
    background-color: var(--mint);
    color: var(--choco);
    font-size: medium;
}
.try{
    background-color: white;
    color: var(--intensemint);
    text-decoration: underline;
}
.try:hover{
    color: var(--choco);
    font-size: medium;
}
.help, .close{
    width: 24px;
    height: 24px;
    line-height: 20px;
    border-radius: 50%;
    border: none;
    margin:0 0.1em 0.1em 0;
    color: var(--choco);
    background: white;
    font-size:small;
    font-weight:bold;
    text-align: center;
}
.help:hover{
    border-color: var(--mint);
    background-color: var(--mint);
}
.close{
    display: inline-block;
    background: white;
    float: right;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
.close:hover{
    border-color: var(--warning);
    background-color: var(--warning);
    color: white;
}
/*Menu bar skeleton*/
.menu{
    display: block;
    width: 280px;
    padding: inherit;
    margin: 1em 0;
}
.outer{
}
.header{
    font-size: medium;
    text-align: center;
    font-weight: bold;
    background: var(--mint);
    border-radius: 1em 1em 0 0;
    padding: 0.5em 0;
    margin-bottom: 0;
}
.network-option{
    text-align: center;
    font-size: small;
    margin-bottom: 0.5em;
    padding-bottom: 0;
    background: var(--lightmintgrey);
    width: 100%;
    border-radius: 1em;
}
.panel{
    font-size: small;
    text-align: left;
    background: var(--lightmintgrey);
    border-radius: 0 0 1em 1em;
    padding: 1em 0;
    margin-top: 0;
}
.subsection-text{
    font-size: small;
    font-weight: bold;
    margin: 1em 1em 0.5em 1em;
}
.description-text{
    font-size: x-small;
    color: darkgrey;
    text-align: center;
    margin: 0.5em 0 0 0;
}
.reset{
    text-align: right;
    font-weight: normal;
    color: var(--darkmint);
}
.reset:hover{
    font-weight: bold;
    color: var(--choco);
    cursor: pointer;
}
input[type="checkbox"]{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin-left: 1em; margin-right: 1em;
}
.hidden-checkbox{
}
input[type="number"], input[type="text"]{
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin-right: 1em; margin-left: 1em;
    width: 5em;
    border-radius: 0.5em;
    border: 1px;
    color: grey;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button {
     opacity: 1
 }
select, input[type="range"]{
    font-size: smaller;
    font-weight: normal;
    vertical-align: middle;
    position: relative;
    background: var(--lightmintgrey);
    margin: 0;
    padding: 0;
    border-radius: 0.5em;
    width: 80%
}
.disabled{
    color: grey;
}
.highlight{
    color: var(--warning);
}
.shadow {
     box-shadow: var(--shadow);
 }

#NVContent {
    width: 100%;
    height: 100%;
    position: relative;
}
#NVContent_Graph {
    background: white;
    border-radius: 1em;
    width: 100%;
    height: 100%;
    position: relative;
}

#Loader {
    position: fixed;
    width: 30px;
    height: 30px;
    background-image: url("loader2.gif");
    background-size: 30px;
}

/*list styling*/
ol, ul, li {
    list-style-position: inside;
    margin-left: 1em;
    text-indent: -2em;
}

ul {
    margin-bottom: 0.5em;
}

li::marker{
    content: '●   ';
    position: relative;
    margin-right: 2em;
    padding-right: 2em;
    color: var(--intensemint);
    font-weight: bolder;
}
li li::marker {
    color: #46b088;
}

.input{

}

.align_box_right{
    position: absolute;
    right: 0;
    margin: 1em;
    padding: 0.5em;
    width: 15%;
    min-width: 200px;
}