:root{
    --mint: #b4e8c6;
    --darkmint: rgba(104, 211, 170);
    --intensemint30:  rgba(104, 211, 170, 0.3);
    --intensemint50:  rgba(104, 211, 170, 0.5);
    --intensemint75:  rgba(104, 211, 170, 0.75);
    --choco: rgb(67, 60, 57);
    --lightmintgrey: #EDF2F4;
    --intensemint: #68d3aa;
    --darkintensemint: #1f9b71;
    --ultradarkmint: #003924;
    --shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    --textshadow: 1px 1px 4px var(--darkintensemint);
    --warning: #ffed25;
    --warning_close: red;
    --nodecolor: #2a036b;
    --deeppink: #FF1493;
    --darkdeeppink: #a4268f;
    --lightblue: #f7fafc;
}
