<?xml version="1.0" encoding="UTF-8"?>
<Context>
      <!-- <WatchedResource jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;
      org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer;
      org.apache.tomcat.jdbc.pool.interceptor.ResetAbandonedTimer">
    </WatchedResource> -->
    <Resource
      auth="Container"
      type="javax.sql.DataSource"
      factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
      validationInterval="30000"
      timeBetweenEvictionRunsMillis="30000"
      maxActive="100"
      minIdle="10"
      maxWait="10000"
      initialSize="10"
      removeAbandonedTimeout="86400"
      removeAbandoned="true"
      logAbandoned="true"
      minEvictableIdleTimeMillis="30000"
      jmxEnabled="true"
      jdbcInterceptors="org.apache.tomcat.jdbc.pool.interceptor.ConnectionState;
        org.apache.tomcat.jdbc.pool.interceptor.StatementFinalizer;
        org.apache.tomcat.jdbc.pool.interceptor.ResetAbandonedTimer"
      driverClassName="com.mysql.jdbc.Driver"/>
</Context>